<section class="stored-info">
    <h2>Your Stored Information</h2>
    <ul>
        {{#each records}}
        <li>
            <strong>Name:</strong> {{ this.name }}
            <strong>Email:</strong> {{ this.email }}
        </li>
        {{/each}}
    </ul>
</section>
